:root {
    --clr-primary-strong-cyan: hsl(171, 66%, 44%);
    --clr-primary-light-blue: hsl(233, 100%, 69%);
    
    --clr-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
    --clr-neutral-grayish-blue: hsl(201, 11%, 66%);
    --clr-neutral-white: rgb(255, 255, 255);


    --ff-primary:'Bai Jamjuree', sans-serif;

    --fw-regular: 400;
    --fw-semiBold: 600;

    --fs-primary: 1rem;

    --section-spacing: 7.75rem;
    --lh-p: 1.6rem;
}
/* RESET */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
    min-height: 100%;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100vh;
}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/* global */
img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    color: var(--clr-neutral-dark-grayish-blue);
    font-weight: var(--fw-semiBold);
}

p {
    color: var(--clr-neutral-grayish-blue);
    line-height: var(--lh-p);
    margin: 1rem 0;
}

a { 
    text-decoration: none;
    font-weight: var(--fw-semiBold);
    font-size: var(--fs-base);    
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    padding: 2em 0;
}

.buttons-container .button {
    color: var(--clr-neutral-white);
    font-size: 1.0625em;
    letter-spacing: 1px;

    padding: 0.9375em 4.25em;
    border-radius: 3rem;
}

.buttons-container .button:first-child {    
    background-color: var(--clr-primary-strong-cyan);
    box-shadow: 0px 1px 0px 2px hsl(171, 66%, 39%);
}

.buttons-container .button:last-child {    
    background-color: var(--clr-primary-light-blue);
    box-shadow: 0px 1px 0px 2px hsl(233, 100%, 64%);    
}

.buttons-container .button:hover {
    filter: brightness(115%);
}

/* layout */
body {
    min-height: 100vh;

    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;

    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    text-align: center;
}

body > header, section, .footer-content {
    padding: 0 2rem;
}

body > header, section {
    margin: var(--section-spacing) 0;
}
/* header */
h1 {
    margin-top: 4rem;
    letter-spacing: -1px;
    font-size: 2em;
}

/* track */
h2 {
    font-size: 1.75em;
}

.img-container {
    margin: 3rem 0;
}

.track__properties {
    flex-direction: column;
    gap: 0.5rem;
}

.track__properties article > p {
    margin: .75rem 0 3rem;
}

h3 {
    font-size: 1.5em;
}
/* access */
.access img {
    margin-top: 4rem;
}
/* workflow */
.workflow__tools {
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 5rem;
}

.workflow__tools .tool {
    flex-direction: column;
}

.tool img {
    margin-bottom: 3rem;
}
/* corporations  */
.corporations {
    flex-direction: column;
    gap: 4rem;
}
/* footer */
footer {
    background-color: rgb(245, 246, 248);
    padding: 3rem 0;
}

.footer-content {
    flex-direction: column;
    gap: 2rem;
}

.footer-content > img {
    width: 3.5rem;
}

.footer-links {
    display: grid;
    gap: 2rem;
}

.footer-links a {
    color: var(--clr-neutral-dark-grayish-blue);
    font-weight: var(--fw-regular);
    font-size: 1.125em;
}

.footer-links a:hover {
    color: var(--clr-primary-strong-cyan);
}

.socials {
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    :root {
        --fs-primary: 1.125rem;
    }

    .buttons-container .button {
        font-size: 1em;    
    }

    /* layout */
    body > header, section, .footer-content {
        padding: 0 6rem;
    }
    
}

@media (min-width: 1300px) {   

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.5em
    }

    .center-container {
        padding: 0 17rem;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: center;
    }

    .buttons-container .button {
        font-size: 1.0625em;
        font-weight: var(--fw-regular);
    
        padding: 0.7em 1.5em;
    }

    /* layout */
    body {
        background-image: url(./images/bg-header-desktop.png);
    }

    .main-header p {
        font-size: 1.1em;
    }

    /* track */
    .track__properties {
        margin-top: 5rem;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0;
    }

    .img-container {
        flex: 0 0 50%;
        margin: 0;
    }

    .img-container img {
        max-width: none;
    }

    .track__properties .articles {
        flex: 0 0 50%;
        padding: 5rem 7rem;
    }

    .track__properties article {
        text-align: start;
        font-size: 0.85em;
        margin-right: 4rem;
    }
    /* workflow */
    .workflow__tools {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0;
    }

    .workflow__tools .tool {
        flex: 0 0 28%;
        font-size: 0.9em;
    }
    /* corporations  */
    .corporations {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
    }
    /* footer */
    footer {
        padding: 2rem 0;
    }

    .footer-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }

    .footer-content > img {
        margin: 0;
    }

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
        margin-right: 15rem;
    }

    .footer-links a {
        text-align: start;
        font-size: 1em;
    }

    .socials {
        gap: 1.5rem;
    }

}




